<div class="question" >
    <div class="container">
      <div class="uk-card uk-card-secondary uk-width-1-2@m">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-expand">

              <h2 class="uk-card-title">
                {{question.text}}
              </h2> 
               <a class="uk-link-muted" href="#" (click)="question.hide = !question.hide" >Show</a> | 
               <a class="uk-link-muted" href="#" (click)="removeQuestion(question)" >Remove</a> 
            </div>
          </div>
        </div>
        <div class="uk-card-body" [hidden]="question.hide">
          <p>{{question.answer}}</p>
        </div>
      </div><br>
    </div>
  </div>
